<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}category/marketing.html">마케팅</a></li>
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}category/snsnews.html">SNS 뉴스</a></li>
    <!-- <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}category/podcast.html">팟캐스트</a></li> -->
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}category/snsmanual.html">SNS 설명서</a></li>
    <!-- <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li> -->
    <!-- <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/getting-started/">Getting Started</a></li>
    <li class="nav-try-ghost" role="menuitem"><a href="https://ghost.org">Try Ghost</a></li> -->
</ul>
